input[type=range]::-moz-range-thumb {
  background-color: blue;
}

input[type=range]::-moz-range-track {
  background-color: green;
}

.hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.right {
	float: right;
}

textarea.text-text {
	width: 100%;
}
